USE [JsonPlaceholderDb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[jph_posts]') AND type in (N'U'))
ALTER TABLE [dbo].[jph_posts] DROP CONSTRAINT IF EXISTS [FK_jph_posts_jph_users]
GO
/****** Oggetto: Table [dbo].[jph_users]    Data dello script 02/09/2026 12:52:54 ******/
DROP TABLE IF EXISTS [dbo].[jph_users]
GO
/****** Oggetto: Table [dbo].[jph_posts]    Data dello script 02/09/2026 12:52:54 ******/
DROP TABLE IF EXISTS [dbo].[jph_posts]
GO
/****** Oggetto: Table [dbo].[jph_posts]    Data dello script 02/09/2026 12:52:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jph_posts](
	[id] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__jph_post__3213E83F99865050] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [dbo].[jph_users]    Data dello script 02/09/2026 12:52:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jph_users](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[website] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[jph_posts] ([id], [userId], [title], [body]) VALUES (1, 1, N'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', N'quia et suscipit
suscipit recusandae consequuntur expedita et cum
reprehenderit molestiae ut ut quas totam
nostrum rerum est autem sunt rem eveniet architecto')
INSERT [dbo].[jph_posts] ([id], [userId], [title], [body]) VALUES (2, 1, N'qui est esse', N'est rerum tempore vitae
sequi sint nihil reprehenderit dolor beatae ea dolores neque
fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis
qui aperiam non debitis possimus qui neque nisi nulla')
INSERT [dbo].[jph_posts] ([id], [userId], [title], [body]) VALUES (3, 1, N'ea molestias quasi exercitationem repellat qui ipsa sit aut', N'et iusto sed quo iure
voluptatem occaecati omnis eligendi aut ad
voluptatem doloribus vel accusantium quis pariatur
molestiae porro eius odio et labore et velit')
GO
INSERT [dbo].[jph_users] ([id], [name], [username], [email], [phone], [website]) VALUES (1, N'Leanne Graham', N'Bret', N'Sincere@april.biz', N'1-770-736-8031 x56442', N'hildegard.org')
INSERT [dbo].[jph_users] ([id], [name], [username], [email], [phone], [website]) VALUES (2, N'Ervin Howell', N'Antonette', N'Shanna@melissa.tv', N'010-692-6593 x09125', N'anastasya.net')
INSERT [dbo].[jph_users] ([id], [name], [username], [email], [phone], [website]) VALUES (3, N'Clementine Bauch', N'Samantha', N'Nathan@yesenia.net', N'1-463-123-4447', N'ramiro.info')
GO
ALTER TABLE [dbo].[jph_posts]  WITH CHECK ADD  CONSTRAINT [FK_jph_posts_jph_users] FOREIGN KEY([userId])
REFERENCES [dbo].[jph_users] ([id])
GO
ALTER TABLE [dbo].[jph_posts] CHECK CONSTRAINT [FK_jph_posts_jph_users]
GO
